.container1 {
    display: flex;
    flex-direction: row;
    margin: 0px !important;
    padding: 0 !important;
    height: 100vh;
}
.container {
    display: flex;
    flex-direction: row;
    margin: 0 0 0 0 !important;
    padding: 0 !important;
}
.leftPanel {
    display: flex;
    flex-direction: column;
    width: 370px !important;
    background-color: #0F1D2F;
    margin-left: 0;
    align-items: center;
    position: fixed;
    height: 100%;
}
.leftPanel p {
    opacity: 0.8;
}
.leftPanel p:hover {
    opacity: 1;
    cursor: pointer;
}
.des {
    opacity: 0.8;
}
.image{
    width: 259px;
    height: 248px;
    border: 1px solid #ffffff;
    border-radius: 50%;
    margin-top: 2rem;
    margin-bottom: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
    transition: all 0.5s ease;
}

  .holographic-card:hover {
    transform: scale(1.05);
    box-shadow: 0 0 20px rgba(110, 108, 218, 0.5);
  }
  

.rightPanel {
    height: 100vh;
    margin-left: 20rem;
    margin-top: 2rem;
}
.rightPanel li {
    opacity: 0.8;
    font-size: medium;
    margin-left: 3rem;
}
.rightPanel h6{
    margin-top: 1rem;
}
.rightPanel h5{
    opacity: 0.5;
    font-size: medium;
}
button {
    margin-bottom: 0.5rem;
    opacity: 1;
}

.changebackground {
    animation: glitch 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) both infinite;
}
.button-click-effect {
    color: white;
    background: none;
    border-radius: 8px;
    cursor: pointer;
    overflow: hidden;
    transition: all 0.3s ease;
    animation: glitch 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) both infinite;
}
.hover-underline {
    color: #ffffff;
    position: relative;
    display: inline-block;
  }
  .hover-underline::after,
  .hover-underline::before {
    content: '';
    opacity: 1;
    position: absolute;
    width: 100%;
    height: 2px;
    background: linear-gradient(to right, #ffffff, #0026ff);
    bottom: -5px;
    left: 0;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.4s ease-out;
  }
  
  .hover-underline::before {
    top: -5px;
    opacity: 1;
    transform-origin: left;
  }
  
  .hover-underline:hover::after,
  .hover-underline:hover::before {
    transform: scaleX(1);
    opacity: 1;
  }
  
@keyframes glitch {
    0% {
      transform: translate(0);
    }
    20% {
      transform: translate(-4px, 4px);
    }
    40% {
      transform: translate(-4px, -4px);
    }
    60% {
      transform: translate(4px, 4px);
    }
    80% {
      transform: translate(4px, -4px);
    }
    100% {
      transform: translate(0);
    }
  }
@media screen and (max-width: 740px) {
    .leftPanel {
        width: 200px !important;
    }
    .image{
        width: 150px;
        height: 150px;
    }
    .rightPanel {
        margin-left: 12rem;
    }
}

@media screen and (max-width: 564px) {
    .des {
        font-size: small;
    }
    .leftPanel {
        width: 120px !important;
    }
    .image{
        width: 100px;
        height: 100px;
    }
    .rightPanel {
        margin-left: 7rem;
    }
}
@media screen and (max-width: 484px) {
    .rightPanel li {
        opacity: 0.8;
        font-size: 10px;
        margin-left: 0rem;
    }
    .leftPanel button {
        font-size: 10px;
    }
}
@media screen and (max-width: 564px) {
    .des {
        font-size: 10px;
    }
    h6 {
        font-size: 15px;
    }
    strong {
        font-size: small;
    }
}

@media screen and (max-width: 328px) {
    .leftPanel {
        width: 100px !important;
    }
    .image{
        width: 80px;
        height: 80px;
    }

    .rightPanel {
        margin-left: 5.5rem;
    }
}